  .text-updater-node {
    
    /* height: auto;
    width: auto; */
    border: 1px solid #555;
    padding: 5px;
    border-radius: 5px;
    background: white;
  }
/*   
  .text-updater-node label {
 
    font-size: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .text-updater-node .formTitle {
    font-size: 11px;
    font-weight: bold;
  }

  .text-updater-node input{
    display: block;
    border: 1px solid #ddd;
    border-radius: 2.5px;
    padding: 2px;
    font-size: 8px;
  }

  .text-updater-node button {
    border: 1px solid #000000;
    background-color: #3148da;
    color: #ffffff;
    border-radius: 2.5px;
    padding: 2px 10px 2px;
    font-size: 8px;
    margin: 5px 43px 5px;
  } */