@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


/* .about-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .photo-container {
    margin-right: 20px; 
  }
  
  .photo {
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
  }
  
  .content-container {
    max-width: 400px; 
  }
  
  .heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .text {
    font-size: 16px;
    margin-bottom: 10px;
  }
   */






   /* MyComponent.css */

/* HERO CONTAINERS */
.component-container {
    display: flex;
    align-items: center;
    position: relative;
    padding: 2rem;
    /* padding-right: 2px; */
    /* Add any other styles for the container */
  }

.hero-content {
    flex: 2;
    padding: 2rem;
    margin-left: auto;
    padding-left: 5rem;
    /* Adjust padding and other styles for the content area */
}

.hero-heading {
    font-size: 55px;
    font-weight: 550;
    font-family: 'Jost', sans-serif;
    color: #0a2751;
    filter: drop-shadow(8px 10px 13px #e0dfdf);
    /* color: #5887ff; */
    /* Adjust heading styles */
}

.hero-description {
    font-size: 17px;
    /* max-width: 600px; */
    font-family: 'Jost', sans-serif;
    /* Adjust description styles */
}

  
.hero-image-container {
    /* flex: 2; */
    display: flex;
    flex-direction: column;
    width: 38%;
    align-items: center;
    gap: 2rem;
    /* padding-left: 200px; */
    /* margin-left: 20px;  */
    /* Adjust padding and other styles for the image container */
}

.hero-image-container > div {
    display: flex;
    align-items: flex-end;
    /* gap: 2rem; */
}

.hero-image-container > div > img{
    width: 22rem;
    align-items: start;
    transition: all 0.3s ease;
    padding-right: 2rem;
    /* box-shadow: 1px 3px 15px rgb(0, 0, 0); */
    /* -webkit-filter: drop-shadow( 1px 10px 15px #000000); */
    filter: drop-shadow(8px 10px 13px #bcbaba);
}

/* .image {
    max-width: 300px;
    height: auto;
} */


/* SUB-HEADINGS */
.subheading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 3rem;
    color: #02419f;
    /* Add any other styles for the container */
  }
.subheading {
    font-size: 38px;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
    /* text-shadow: 1px 3px 15px rgba(0, 0, 0, 0.15); */
    /* align-items: center; */
}



/* SUB CONTAINERS */
.sub-container {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 3rem; /* 0 for top and bottom, 3rem for left and right */
    /* Add any other styles for the container */
  }

.sub-content {
    flex: 2;
    padding: 2rem;
    margin-left: auto;    
    /* padding-left: 5rem; */
    /* Adjust padding and other styles for the content area */
}

.sub-heading {
    font-size: 35px;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
    /* Adjust heading styles */
}

.sub-description {
    font-size: 17px;
    max-width: 600px;
    font-family: 'Jost', sans-serif;
    color: #02419f;
    /* Adjust description styles */
}

  
.sub-image-container {
    /* flex: 2; */
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 2rem;
    /* padding-left: 200px; */
    /* margin-left: 20px;  */
    /* Adjust padding and other styles for the image container */
}

.sub-image-container > div {
    display: flex;
    align-items: start;
    justify-content: center;
    /* gap: 2rem; */
}

.sub-image-container > div > img{
    height: 22rem;
    align-items: end;
    justify-content: end;
    transition: all 0.3s ease;
}


.footer-container {
    font-family: 'Jost', sans-serif;
    background-color: #0a2751; /* Navbar background color */
    color: #fff; /* Text color */
    padding: 10px; /* Padding around navbar items */
    display: block; 
    justify-content: left; /* Distribute items evenly along the main axis */
    align-items: center;
}