@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

   /* MyComponent.css */

   /* Navbar */

   .m-navbar {
    font-family: 'Jost', sans-serif;
    background-color: #0a2751; /* Navbar background color */
    color: #fff; /* Text color */
    padding: 7px; 
    display: flex; /* Use flexbox */
    justify-content: start; /* Distribute items evenly along the main axis */
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 25px;
    z-index: 100;
  }

  .m-ComponentDiv1 {
    padding: 5px 10px; 
    color: #fff;

  }

  .m-ComponentDiv2 {
    text-decoration: none;
    color: inherit;
    cursor: inherit;
    padding: 5px 10px; 
    /* margin-left: auto; */
    color: #fff;

  }
  
  .m-ComponentDiv2 > a {
    text-decoration: none;
    color: inherit;
    cursor: inherit; 
  }

/* HERO CONTAINERS */
.m-component-container {
    display: block;
    align-items: center;
    position: relative;
    padding: 5px;
    /* padding-right: 2px; */
    /* Add any other styles for the container */
  }

.m-hero-content {
    /* flex: 2; */
    padding: 0.5rem 1.5rem;
    margin-left: auto;
    display: block;
    align-items: center;
    justify-content: center;
    /* padding-left: 5rem; */
    /* Adjust padding and other styles for the content area */
}

.m-hero-contenthead {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
    

.m-hero-heading {
    font-size: 1.4rem;
    font-weight: 550;
    font-family: 'Jost', sans-serif;
    color: #0a2751;
    margin: 0px;
    padding: 2px 0px;
    filter: drop-shadow(4px 6px 9px #e0dfdf);
    /* color: #5887ff; */
    /* Adjust heading styles */
}

.m-hero-description {
    font-size: 0.7rem;
    padding: 0px;
    margin: 1px 0px;
    /* max-width: 600px; */
    font-family: 'Jost', sans-serif;
    /* Adjust description styles */
}

  
.m-hero-image-container {
    /* flex: 2; */
    display: flex;
    /* flex-direction: column; */
    /* width: 38%; */
    align-items: center;
    /* gap: 2rem; */
    /* padding-left: 200px; */
    /* margin-left: 20px;  */
    /* Adjust padding and other styles for the image container */
}

.m-hero-image-container > div {
    /* display: flex; */
    align-items: center;
    /* gap: 2rem; */
}

.m-hero-image-container > div > img{
    height: 3.5rem;
    align-items: start;
    transition: all 0.m-3s ease;
    padding-left: 1em;
    /* box-shadow: 1px 3px 15px rgb(0, 0, 0); */
    /* -webkit-filter: drop-shadow( 1px 10px 15px #000000); */
    filter: drop-shadow(8px 10px 13px #bcbaba);
}

/* .m-image {
    max-width: 300px;
    height: auto;
} */


/* SUB-HEADINGS */
.m-subheading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0.3rem 1rem;
    color: #02419f;
    /* Add any other styles for the container */
  }
.m-subheading {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
    /* text-shadow: 1px 3px 15px rgba(0, 0, 0, 0.m-15); */
    /* align-items: center; */
}



/* SUB CONTAINERS */
.m-sub-container {
    display: block;
    align-items: center;
    position: relative;
    padding: 0 1.5rem; /* 0 for top and bottom, 3rem for left and right */
    /* Add any other styles for the container */
  }

.m-sub-content {
    flex: 2;
    padding: 0rem;
    /* margin-left: auto;     */
    /* padding-left: 5rem; */
    /* Adjust padding and other styles for the content area */
}

.m-sub-heading {
    font-size: 1.4rem;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
    margin: 2px;
    /* Adjust heading styles */
}

.m-sub-description {
    font-size: 0.7rem;
    margin: 2px;
    /* max-width: 600px; */
    font-family: 'Jost', sans-serif;
    color: #02419f;
    /* Adjust description styles */
}


.m-subimgcentercontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.m-sub-image-container {
    /* flex: 2; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    width: 38%;
    gap: 2rem;
    /* padding-left: 200px; */
    /* margin-left: 20px;  */
    /* Adjust padding and other styles for the image container */
}

.m-sub-image-container > div {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 2rem; */
}

.m-sub-image-container > div > img{
    width: 12rem;
    align-items: end;
    justify-content: end;
    transition: all 0.m-3s ease;
}



/* FOOTER */
.m-footer-container {
    font-family: 'Jost', sans-serif;
    font-size: 0.7rem;
    background-color: #0a2751; /* Navbar background color */
    color: #d8d8d8; /* Text color */
    padding: 5px; /* Padding around navbar items */
    display: flex; 
    justify-content: start; /* Distribute items evenly along the main axis */
    align-items: center;
}

.m-footer-content {
    /* padding: 10px; */
    display: block; 
    justify-content: center; /* Distribute items evenly along the main axis */
    align-items: center;
}

.m-userhandle {
    color: #ccff01;
}

.m-foot-end {
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}