.react-flow .react-flow__handle {
    width: 35px;
    height: 11px;
    border-radius: 3px;
    background-color: #784be8;
  }
  
  .react-flow .react-flow__handle-top {
    top: px;
  }
  
  .react-flow .react-flow__handle-bottom {
    bottom: px;
  }
  
  .react-flow .react-flow__node {
    height: 50px;
    width: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-width: 2px;
    font-weight: 700;
  }
  
  .react-flow .react-flow__edge path,
  .react-flow__connectionline path {
    stroke-width: 2;
  }
  
  .wrapper {
    flex-grow: 1;
    height: 100%;
  }

  .divElement {
    position: absolute;
  }
  