@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.react-flow .react-flow__handle {
    width: 35px;
    height: 11px;
    border-radius: 3px;
    background-color: #784be8;
  }
  
  .react-flow .react-flow__handle-top {
    top: px;
  }
  
  .react-flow .react-flow__handle-bottom {
    bottom: px;
  }
  
  .react-flow .react-flow__node {
    height: 50px;
    width: 150px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-width: 2px;
    font-weight: 700;
  }
  
  .react-flow .react-flow__edge path,
  .react-flow__connectionline path {
    stroke-width: 2;
  }
  
  .wrapper {
    flex-grow: 1;
    height: 100%;
  }

  .divElement {
    position: absolute;
    font-family: 'Jost', sans-serif;
    padding: 8px;
  }

  .shine-container {
    position: relative;
  }
  
  .shine-text {
    position: absolute;
    font-family: 'Jost', sans-serif;
    padding: 8px;
    position: relative;
    overflow: hidden;
  }
  
  .shine-text::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: rgba(255, 255, 255, 0.5);
    transform: rotate(-45deg);
    animation: shine-animation 2s linear infinite;
  }
  
  @keyframes shine-animation {
    0% {
      transform: rotate(-45deg) translateX(-150%);
    }
    50% {
      transform: rotate(45deg) translateX(150%);
    }
    100% {
      transform: rotate(-45deg) translateX(-150%);
    }
  }
  


  
  .no-tailwind { 
    all: unset; 
} 